@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./font/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), url('./font/SourceCodePro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
